{% extends "./base.html" %}

{% block title %} Punto de Venta {% endblock %}

{% block body %}
    <div class="container-sm">
        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-8">
                        <div class="row">
                            {% for producto in productos %}
                            <div class="col-12">
                                <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
                                    <div class="card-body">
                                        <h5 class="card-tittle">{{producto.nombre}}</h5>
                                        <!---<p class="card-text">{{producto.categoria}}</p>
                                        <p class="card-text">{{producto.precio}}</p>--->
                                        <a href="{% url 'Agr' producto.id %}" class="btn btn-primary">Agregar</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                {% include "carrito.html" %}
            </div>
        </div>
    </div>


    {% endblock %}